@model PersonalLibrary.Models.Book
@{
   
}

<!DOCTYPE html>

<html>
<head>
    <script>
        console.log("At Details");
    </script>

    <meta name="viewport" content="width=device-width"/>
    <title>Details</title>
</head>
<body>
<div>
    <p> TITLE: @Model.Title </p>
    <p> TITLE: @Model.Author </p>
</div>
</body>
</html>
